name: Main Workflow

on: push

jobs:
  build:
    name: Lint and Test

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7]

    steps:
      - uses: actions/checkout@master

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip install pytest pydocstyle pytest-cov codecov
          pip install .

      - name: Pydocstyle
        run: pydocstyle shlack --verbose

      - name: Black If Python 3.7
        if: matrix.python-version == 3.7
        run: |
          pip install black
          black shlack test --check --verbose

      - name: Pytest
        run: pytest --cov=./ -v

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1.0.2
        if: matrix.python-version == 3.7
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
