name: Main Workflow

on: push

jobs:
  build:
    name: Lint and Test

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7]

    steps:
      - uses: actions/checkout@master

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Dependencies
        run: |
          pip install --upgrade pip
          pip3 install pytest black pydocstyle
          pip install .

      - name: Pydocstyle
        run: pydocstyle shlack --verbose

      - name: Black
        run: black shlack test --check --verbose

      - name: Pytest
        run: pytest . -v
